@model List<Item>

@{
	ViewData["Title"] = "Items";
}

<div class="row">
	<div class="col">
		<a asp-action="Create" class="btn btn-success">New item</a>
	</div>
</div>

<div class="row">
	<table style="margin-top: 20px;" class="table table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Amount in storage</th>
				<th>Category</th>
				<th>Price</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<a>@item.Name</a>
					</td>
					<td>@item.Description</td>
					<td>@item.AmountInStorage</td>
					<td>@item.Category?.Name</td>
					<td>@item.Price.ToString("0.00") €</td>
					<td>
						<a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
						<button class="btn btn-danger" onclick="deleteItem(@item.Id)">Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts {
	<script defer async>
		async function deleteItem(id) {
			await fetch(
				"@Url.Action("Delete", new { id = -1})".replace("-1", id.toString()),
				{ method: "DELETE" },
			);
			location.reload();
		}
	</script>
}
