@model List<Order>

@{
	ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<div class="row">
	<table style="margin-top: 20px;" class="table table-condensed">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>City</th>
				<th>Address</th>
				<th>Zip code</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var order in Model)
			{
				<tr>
					<td>@order.Id</td>
					<td>@order.User.FullName</td>
					<td>@order.City</td>
					<td>@order.Address</td>
					<td>@order.ZipCode</td>
					<td>@order.Status.ToString()</td>

					<td>
						@if (order.Status == OrderStatus.Ordered)
						{
							<a class="btn btn-outline-success" asp-action="Ship" asp-route-id="@order.Id">Ship</a>
						}
						else
						{
							<a class="btn btn-success disabled">Shipped</a>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
